body {
	box-sizing: border-box;
	margin: 0;
}

html, body {
	height: 100%;
}

.hidden {
	display: none;
}

body {
	margin: 0 1em;
	word-wrap: break-word;
}

.container {
	text-align: center;
	line-height: 1.5;
	min-height: 100%;

	display: flex;
	flex-direction: column;
}

#detected {
	flex-grow: 1;

	display: flex;
	flex-direction: column;
}

#query-domain, #cli-domain, #asn-details {
	font-weight: 600;
}

#addr-location {
	font-weight: 600;
	font-size: 1.25em;
}

#cli > pre {
	white-space: pre-line;
}

#maxmind-notice {
	margin-top: auto;
	padding: 2em 0;
	font-size: 0.75em;
}
